
/* *********** commons *********** */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* *********** nav bar *********** */
nav {
    right: 30px;
    top: 30px;
    position: fixed;
    z-index: 1;

}
a {
    display: inline-block;
    padding: 15px;
    border-radius: 50px;
    width: 50px;
    margin-right: 15px;
    text-align: center;
    background-color: white;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
nav li {
    display: inline-block;
    
}

/* *********** sezioni *********** */


#sezione-1, #sezione-2, #sezione-3 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#sezione-1 {
    background-color: red;

}

#sezione-2 {
    background-color: green;
}

#sezione-3 {
    background-color: yellow;
}

.content {
    position: absolute;
    bottom: 25%;
    left: 25%;
}

h2 {
    text-align: center;
    font-size: 50px;
}

#sezione-1 h2, #sezione-2 h2 {
    color: yellow;
}

#sezione-3 h2 {
    color: green;
}